<nav>
    <div class="nav-wrapper">
        <a href="/dashboard" class="brand-logo">Bookit List</a>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/search">Bookit Search</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/search">Bookit Search</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/login">Logout</a></li>
</ul>
