<h1>Add a Bookit</h1>

<div class="card">
    <div class="card-header">
        Add Books
    </div>
    <div class="card-body">
        <form action="/bookit/add" method="POST" role="form">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" id="title" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Author</label>
                <input type="text" class="form-control" id="author" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Genre</label>
                <input type="text" class="form-control" id="genre" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Year</label>
                <input type="text" class="form-control" id="year" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Pages</label>
                <input type="number" class="form-control" id="pages" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Feedback</label>
                <input type="text-area" class="form-control" id="userNotes" placeholder="">
            </div>
        </form>
        <br>
        <div class=" text-right">
            <button type="submit" class="btn btn-primary btn-md" id="addBook">
                <span class="fa fa-book"></span> Add to Bookitlist</button>
            <a href="/" class="btn btn-success btn-md">
                <span class="fas fa-book-reader"></span> Bookitlist</a>
        </div>
    </div>

</div>
