<h1>Bookit List</h1>

<div class="card">
    <div class="card-header">
        Add Books
    </div>
    <div class="card-body">
        <form action="" method="POST" role="form">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" id="title" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Author</label>
                <input type="text" class="form-control" id="author" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Genre</label>
                <input type="text" class="form-control" id="genre" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Year</label>
                <input type="text" class="form-control" id="year" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Pages</label>
                <input type="number" class="form-control" id="pages" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Feedback</label>
                <input type="text-area" class="form-control" id="userNotes" placeholder="">
            </div>
        </form>
        <br>
        <div class=" text-right">
            <button type="submit" class="btn btn-primary btn-md" id="addBook">
                <span class="fa fa-book"></span> Add a book</button>
        </div>
    </div>

</div>

<div class="search-results"></div>

<br>
<div class="row">
    <div class="notBooked col-md-6">
        <h2>Bookit List</h2>
        {{#each books}}
        {{#unless bookedIt}}
            {{> books/book-block read=true}}
        {{/unless}}
        {{/each}}
    </div>


    <div class="Booked col-md-6">
        <h2>Booked It List</h2>
        {{#each books}}
        {{#if bookedIt}}
            {{> books/book-block read=false}}
        {{/if}}
        {{/each}}
    </div>
</div>
