<div id="login">

  <h1><strong>BookItList Login</strong></h1>

  <div class="login-box shadow">
   <form action="/login" method='post' class='login-form'>

     <i id='email-input-icon' class='icon-user'></i>
     <input id="email" autocomplete="off" placeholder="email" class='dark' type="text" name="email">

     <i id='password-input-icon' class='icon-lock'></i>
     <input id="password" autocomplete="off" placeholder="Password" class='dark' type="password" name="password">

    <input type="submit" class='button large' value="Please, login to continue.">
   
   </form>

  </div>
</div>