<br>
<h3 style="text-align: center;">Bookit Search</h3>
<div style="text-align: center;">
    <form action="">
        <div>
            <label for=""></label>
            <input type="text" id="bookSearch">
            <button type="submit" class="btn btn-primary btn-md" id="search">
                Book Search
                <span class="fa fa-search"></span>
            </button>
        </div>
    </form>
</div>
<div class="search-results"></div>
